# Excluded from the archive Package Control installs
.gitattributes export-ignore
.gitignore export-ignore
docs/ export-ignore
tools/ export-ignore
syntax_test_racket.rkt export-ignore
syntax_test_scribble.scrbl export-ignore
