# Excluded from the archive Package Control installs
.gitattributes export-ignore
.gitignore export-ignore
docs/ export-ignore
tools/ export-ignore
tests/ export-ignore
.pre-commit-config.yaml export-ignore
pyproject.toml export-ignore
uv.lock export-ignore
